@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*
https://fls.guru/grid.html
/wrapper - грид контейнер для всех элементов внутри.
main - грид элемент контейнера wrapper и грид контейнером в будущем

сначала главный грид контейнер, оболочка рапеер, делаем ее на всю высоту, присваиваем грид и рисуем сетку.
сначала выстраиваем ряды. grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
1 - значение хедера, потом контента, потом футера. в таком случае футер всегда будет снизу. через / указываем размер колоны
задаем имена грид элементам через areas и присвоим их к элементам.
///////////////Верстаем хэдэр///////////////
Добавим стилей логотипу, меню, и кнопкам логина - входа.
так как меню иы тоже будем строить гридом, то задаем ему грид и постави автоматическое заполнение,
через грид-авто-флоу со значением колумн. таким образом, все грид элементы, а именно li, выстроятся в ряд
добавим justify-items:center; что бы содержимое выстроилось по центру.

Рисуем в хедере явную сетку через грид-темплейт.
grid-template: 1fr / 1fr minmax(auto, 200px) minmax(auto, 450px) minmax(auto, 420px) 1fr; 1 ряд, на всю высоту, далее колонки, также пострим ограничивающий контейнер.
отступ левой части будет 1fr, далее идет логотип минмакс ширина авто, макс ширина - 200px,
далее идет ячейка меню, опять минмакс минимум - автоматическим, максимум - 450 пикселей
далее идет ячейка с кнопкой, опять минмакс минимум - автоматическим, максимум - 420 пикселей
в конце яейка ограничения со значением 1 fr.
Далее, поставим объекты на свои места, так как у нас все сломано и объекты не на своих местах.
логотип должен начинатся со 2 ячейки, так как у нас стоит ограничивающий контейнер.
используем свойство грид-колумн и постави объекты на свои места. сначала пишется стартовая колонка, потом конечная. 2/3 например
Опустим все пункты меню, логотипа и тп на один уровень через aling-items.
зададим все дополнительные стили и перейдем к основному контенту.

задаем отступы и создаем грид контейнер, по примеру из хэдера, только на 3 колонки.
выстраиваем автомаматически ячейки через команду
grid-template-columns: repeat (auto-fit, minmax(250px, 1fr));
ставим отступы между колонками, но разные, горизонтальные и вертикальные.
column-gap: 50px;
row-gap: 50px;
карточку делаем тоже грид сеткой, для адаптивности.
	grid-auto-flow: row; - выстраим объекты по вертикали автоматически
	и обозначим сетку 	grid-template: auto 1fr / 1
	иконка автоматическая, описание на все пространство / одна колонка на всю ширину
	стилизуем наши карточки

верстаем галлерею
	создаем грид-контейнер.
	Зададим отступ для изображений через gap:10px; и применим адаптив к изображениям из прошлых проектов.
	строим автоматическую грид сетку, фото будут выстраиватся в ряд сколько поместятся и перехедить автоматически на нвоую строку
	 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr;)) - картинки заполняют все доступное простаратство (auto-fit) далее минимальная ширина чейки с изображением

Доверстаем футер, все как на мейне.
грид-темплейт и выстраиваемс объекты как нам нужно
адаптируем контент через медиа запросы.
@media (min-width:992px){ при ширинах больше чемс 992, включается грид сетка. в остальном случае ее нет
	.main{
	}
	.content{
	}
}
 */
body {
  font-family: "Catamaran", sans-serif;
}

.mainword {
  color: orange;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template: minmax(100px, auto) 1fr minmax(400px, auto)/1fr;
      grid-template-areas: "header" "main" "footer";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(173px, auto) minmax(auto, 200px) minmax(auto, 110px) minmax(auto, 450px) minmax(auto, 400px) minmax(auto, 420px) minmax(213px, auto);
      grid-template: 1fr/minmax(173px, auto) minmax(auto, 200px) minmax(auto, 110px) minmax(auto, 450px) minmax(auto, 400px) minmax(auto, 420px) minmax(213px, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.header__logo span {
  font-family: "Catamaran";
  font-size: 40px;
  font-weight: 600;
  line-height: 53px;
  color: #99BAED;
  position: relative;
  top: -50px;
  left: 55px;
}

@media (min-width: 1451px) {
  .header__logo span {
    font-family: "Catamaran";
    font-size: 40px;
    font-weight: 600;
    line-height: 53px;
    color: #99BAED;
    position: relative;
    top: -5px;
    left: -15px;
  }
}
@media (max-width: 1451px) {
  .header__logo span {
    display: none;
  }
}
.header__menu {
  margin: 30px 0 0 0;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.header__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  gap: 34px;
}

.header__list a {
  padding: 97px 14px 8px 14px;
  border-radius: 0 0 5px 5px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.header__list a:hover {
  background-color: #A3C1EF;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  color: #ffffff;
}

.header__link {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: #163561;
}

@media (max-width: 1251px) {
  .header__list {
    display: none;
  }

  .header__menu {
    display: -ms-grid;
    display: grid;
    justify-items: end;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
  }

  .header__burger {
    width: 30px;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-rows: (8px)[3];
    -ms-grid-columns: 1fr;
        grid-template: repeat(3, 8px)/1fr;
  }

  .header__burger::before {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #A3C1EF;
  }

  .header__burger::after {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #A3C1EF;
  }

  .header__burger span {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #A3C1EF;
  }
}
.header__login {
  margin: 30px 0 0 0;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.header__login_notice {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login_svg {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}

.button {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: #99BAED;
  border-radius: 20px;
  padding: 20px 30px;
  -webkit-box-shadow: 0 10px 10px rgba(153, 186, 237, 0.5);
          box-shadow: 0 10px 10px rgba(153, 186, 237, 0.5);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.button:hover {
  -webkit-box-shadow: 0 10px 10px rgba(153, 186, 237, 0.7);
          box-shadow: 0 10px 10px rgba(153, 186, 237, 0.7);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.main {
  padding: 50px 25px;
}

@media (max-width: 1251px) {
  .header__list {
    display: none;
  }

  .header__menu {
    display: -ms-grid;
    display: grid;
    justify-items: end;
  }

  .header__burger {
    width: 30px;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-rows: (8px)[3];
    -ms-grid-columns: 1fr;
        grid-template: repeat(3, 8px)/1fr;
  }

  .header__burger::before {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #A3C1EF;
  }

  .header__burger::after {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #A3C1EF;
  }

  .header__burger span {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #A3C1EF;
  }

  .header__login {
    display: none;
  }
}
.title {
  margin: 0 0 50px 0;
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #163561;
}

.content__services {
  margin: 0 0 50px 0;
}

.services__row {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(391px, 1fr));
}

.services__column {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: auto 1fr;
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr/1fr;
}

.item-services__icon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item__icon {
  margin: 60px 0 60px 0;
  height: 126px;
  width: 103px;
  padding: 10px;
  background-color: #E5ECFE;
  -webkit-box-shadow: 0px 1px 0px #008FDD;
          box-shadow: 0px 1px 0px #008FDD;
  border-radius: 13px;
}

.item-services__title {
  margin: 0 0 60px 0;
  font-family: "Catamaran";
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #163561;
}

.item-services__text {
  padding: 0 40px;
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
}

.item-services {
  width: 391px;
  height: 533px;
  background-color: #FAFBFF;
  -webkit-box-shadow: 0px 5px 10px #99BAED;
          box-shadow: 0px 5px 10px #99BAED;
  border-radius: 29px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.item-services:hover {
  background-color: #99BAED;
  border-radius: 29px;
  -webkit-box-shadow: 10px 10px 94px #D5E5FF;
          box-shadow: 10px 10px 94px #D5E5FF;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.content__gallery {
  margin: 0 0 30px 0;
}

@media (min-width: 992px) {
  .main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    grid-area: main;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: minmax(250px, auto) minmax(auto, 1323px) minmax(250px, auto);
        grid-template: 1fr/minmax(250px, auto) minmax(auto, 1323px) minmax(250px, auto);
  }

  .content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}
.gallary__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 390px));
  grid-gap: 20px;
  grid-auto-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px 0;
}

.gallary__item {
  position: relative;
  padding: 0px 0px 80% 0px;
}

.gallary__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.gallery__view-button {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin: 0 0 50px 0;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  display: -ms-grid;
  display: grid;
  grid-area: footer;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(250px, auto) minmax(auto, 1323px) minmax(250px, auto);
      grid-template: 1fr/minmax(250px, auto) minmax(auto, 1323px) minmax(250px, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.footer__text {
  padding: 50px;
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #153461;
  opacity: 0.65;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.footer__logo span {
  font-family: "Catamaran";
  font-size: 40px;
  font-weight: 600;
  line-height: 53px;
  color: #99BAED;
  position: relative;
  top: -5px;
  left: -15px;
}

.footer__line {
  margin: 30px auto 30px;
  width: 900px;
  border: 1px solid #99BAED;
}

@media (min-width: 550px) {
  .footer__logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .footer__icons {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }

  .icons {
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
  }

  .icons:hover {
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    fill: #99BAED;
  }
}
@media (max-width: 550px) {
  .footer__logo span {
    display: none;
  }

  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: minmax(250px, auto) minmax(auto, 1323px) minmax(250px, auto);
        grid-template: 1fr 1fr 1fr/minmax(250px, auto) minmax(auto, 1323px) minmax(250px, auto);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }

  .footer__logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__icons {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}